body {
  height: 100%;
  font-family: san-aerif;
}

/* header-header-section */
.link-about {
  font-size: 20px;
  font-weight: 600;
  color: blue;
  margin: 20px 0 0 20px;
}
.header {
  padding-top: 30px;
  padding-bottom: 50px;
  height: 100%;
}
.btn-modal {
  margin-left: 95%;
  margin-top: 10px;
}
.product-menu {
  display: flex;
  max-height: 720px;
  max-width: 1100px;
  overflow-x: hidden;
}
.korzina-menu {
  max-height: 720px;
  overflow-x: hidden;
}
.product-img {
  max-width: 150px;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  transition: 0.5s ease-in-out;
}
.product-img:hover {
  transform: scaleX(1.1);
}
.price {
  margin-left: 15px;
}
.item-title {
  font-size: 15px;
  font-weight: 700;
  font-family: "Merriweather", serif;
}

.details-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}
.card {
  height: 95%;
}
.card:hover {
  box-shadow: 3px grey;
}
.card-body {
  padding: 5px;
}
.card-title {
  font-weight: 700;
}

.items {
  font-family: "Merriweather", serif;
  background: #f2ede7;
  border-radius: 8px;
  width: 120px;
  display: flex;
  font-size: 18px;
  height: 30px;
  overflow: hidden;
}

.items__control {
  width: 40px;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-align: center;
}

.items__control:hover {
  background: #eb5a1e;
  color: #fff;
}

.items__current {
  width: 40px;
}
.none {
  display: none;
}
/* items--small */
.items.items--small {
  width: 90px;
  font-size: 16px;
  height: 26px;
  text-align: center;
}

.items.items--small .items__control {
  width: 30px;
}

.items.items--small .items__current {
  width: 30px;
}

.price__weight {
  color: #6c757d !important;
  font-size: 80%;
  line-height: 1;
  margin-bottom: 10px;
}

.price__currency {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  margin-right: 15px;
}

.btn-outline-warning {
  width: 100%;
  color: #fff;
  border: none;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #eb5a1e;
}
.cart-item__top {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 2px;
}
.cart-item__img img {
  max-width: 50px;
  max-height: 50px;
}

.cart-item__desc {
  padding-top: 15px;
  padding-left: 15px;
}

.cart-item__title {
  font-family: "Merriweather", serif;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 5px;
}

.cart-item__weight {
  color: #6c757d !important;
  font-size: 80%;
  line-height: 1;
  margin-bottom: 15px;
}

.cart-item__details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-item__details .price__currency {
  font-size: 18px;
  margin-left: 10px;
}
.small {
  opacity: 0.6;
  margin: 0;
}
.cart-total {
  font-size: 18px;
  font-weight: 500;
}

.free {
  color: #0ea107;
}
input {
  outline: none;
}
.total-price {
  color: #eb5a1e;
}

.rouble {
  color: #eb5a1e;
}
/* ! header-header-section */

/* Header-section */
.header-hed {
  width: 100%;
}
.hidden {
  overflow: hidden;
  width: 77%;
  margin: auto;
}
.header-content {
  display: flex;
  width: 100%;
  position: relative;
  transition: transform 1s ease-in-out;
  transform: translateX(0%);
}
.header-content_title {
  margin-left: 15px;
  font-weight: 800;
}
.header-item {
  height: 260px;
  margin: 0 40px;
}
.header-paraghrap {
  margin-left: 50px;
  font-size: 17px;
  font-weight: 600;
}
.header-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.header-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 1rem 1rem;
}

.img-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(41, 39, 39);
}
.prev,
.next {
  display: inline-block;
  font-size: 25px;
  font-weight: 1000;
  position: absolute;
  bottom: 25rem;
  cursor: pointer;
}
.next {
  left: 1195px;
}
.prev {
  left: 140px;
}
.fa-heart {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.fa-star {
  display: inline-block;
  color: rgb(151, 131, 131);
}
.star-acc {
  color: rgb(248, 192, 37);
}
.price {
  font-size: 20px;
  font-weight: bold;
}
.price span {
  opacity: 0.6;
  margin-right: 5px;
  text-decoration: line-through;
}

/* ! Header-section */
/* Modal-section */
.modal-section {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(53, 51, 51, 0.5);
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 10;
}
.modal-item {
  margin: 150px auto;
  max-width: 450px;
  height: 285px;
  padding: 10px 100px;
  background-color: rgb(29, 80, 80);
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;

  cursor: pointer;
}
.modal-title {
  color: white;
}
.close-modal {
  position: relative;
  left: 320px;
  bottom: 20px;
  font-size: 25px;
  color: white;
}
.modal-input {
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
}
.modal-btn {
  display: block;
  padding: 5px;
  outline: none;
}
textarea {
  width: 100%;
  padding: 10px;
  outline: none;
}
/* ! Modal-section */
/* Wrapper-section */
.wrapper {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.wrapper-title {
  font-size: 35px;
  font-weight: bold;
  margin: 25px;
}
.wrapper-content {
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-content: center;
  margin: auto;
}
.wrapper-img {
  width: 100%;
  height: 250px;
}
.grid-1 {
  grid-column: 2/4;
}
.grid-2 {
  grid-column: 1/3;
}
.grid-3 {
  grid-column: 3/-1;
}
.grid-4 {
  grid-column: 2/-1;
}
/* ! Wrapper-section */
/* Loader-section */
.loader {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000 70%);
  transition: all 1.5s linear;
  z-index: 6;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* ! Loader-section */
/* Timer-section */
.promotion-timer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
}

.promotion-market {
  font-size: 25px;
  font-weight: bold;
}
.promotion-img {
  width: 600px;
  height: 400px;
  outline: none;
}
.promotion-title {
  font-size: 35px;
  font-weight: 900;
  color: blue;
  text-shadow: 3px 3px 5px rgb(44, 43, 43);
  margin-bottom: 25px;
}
.timer-title {
  font-size: 30px;
  font-weight: 1000;
  margin-bottom: 25px;
}
.timer-block {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  font-size: 30px;
  font-weight: 1000;
}
.timer-block span {
  display: block;
  color: red;
  font-size: 55px;
}
/* ! Timer-section */

/* Footer-section */
footer {
  width: 100%;
  height: auto;
  background-color: rgb(44, 44, 53);
  padding-bottom: 5px;
}
.foot {
  display: flex;
  justify-content: space-around;
}

.help,
.social-media h5 {
  color: white;
}
ul {
  display: flex;
}
ul li {
  margin: 5px;
  list-style: none;
}

footer p {
  text-align: center;
}
@media only screen and (max-width: 375px) {
  .header {
    padding: 0;
    height: 100%;
  }
  .btn-modal {
    margin-left: 80%;
    margin-top: 5px;
  }
  .header-hed {
    width: 100%;
  }
  .hidden {
    width: 100%;
  }

  .header-item {
    height: 100px;
    margin: 0 16px;
  }
  .header-paraghrap {
    padding-left: 5px;
    margin: 0;
  }
  .header-image {
    width: 60px;
    height: 60px;
  }
  .header-title {
    margin: 0.5rem;
  }

  .btn-outline-warning {
    background-color: rgb(170, 144, 58);
  }
  .img-title {
    font-size: 10px;
  }
  .prev,
  .next {
    display: none;
  }
  .modal-item {
    max-width: 250px;
    height: 195px;
    padding: 5px;
  }
  .close-modal {
    left: 230px;
    bottom: 25px;
    font-size: 15px;
  }
  .modal-input {
    padding: 0px;
  }
  .modal-btn {
    padding: 0px;
  }
  textarea {
    padding: 0px;
  }
  .wrapper {
    max-width: 370px;
    margin: 0;
    padding: 2px;
  }
  .wrapper-title {
    font-size: 25px;
    margin: 5px;
  }
  .wrapper-content {
    max-width: 370px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    justify-content: center;
  }
  .wrapper-img {
    height: 120px;
  }
  .promotion-timer {
    display: block;
    padding: 2px;
  }
  .promotion-market {
    font-size: 20px;
  }
  .promotion-img {
    width: 100%;
    height: 200px;
  }
  .promotion-title {
    font-size: 25px;
    margin: 0 0 2px 5px;
  }
  .timer-title {
    font-size: 25px;
    margin: 0px;
  }
  .timer-block {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
  }
  .timer-block span {
    font-size: 30px;
  }

  .foot {
    display: block;
  }

  ul li {
    margin: 0;
    font-size: 15px;
  }

  footer p {
    text-align: none;
  }
}
